.our-doctors {
  height: 100vh;
  width: 100vw;
  background-color: #79bfe580;
  text-align: center;
  overflow: hidden;
}

.our-doctors .doctor-content h2 {
  font-size: 4rem;
}
.our-doctors .doctor-content h3 {
  font-size: 3rem;
  color: #f52851;
  font-family: cursive;
  margin-top: 3rem;
}

.owl-two {
  margin-top: 4rem;
}
.active-dr {
  color: #0594e7;
}
.owl-two img {
  height: 350px;
  width: 150px;
}
.owl-two .item {
  border: 10px solid #fff;
  text-align: center;
  background-color: white;
  overflow: hidden;
   height: 65vh;
  overflow: hidden;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.owl-two .item h2 {
  font-family: cursive;
  color: #f52851;
  font-size: 3rem;
  line-height: 6rem;

  font-weight: 700;
}
.owl-two .item h3 {
  font-weight: 900;
  line-height: 4rem;

}
.owl-two .item p {
  font-weight: 300;
  height: 1rem;
  font-size: 2rem;
 
}
.dr-description {
  margin-bottom:10rem;
}


/* our hospitals */
.our-hospitals {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.our-hospitals .hospital-content h2 {
  font-size: 4rem;
}
.our-hospitals .hospital-content h3 {
  font-size: 3rem;
  color: #f52851;
  font-family: cursive;
  margin-top: 3rem;
}

.owl-three {
  margin-top: 4rem;
}
.active-hospital {
  color: #0594e7;
}
.owl-three img {
  height: 350px;
  width: 150px;
}
.owl-three .item {
  border: 1rem solid #fff;
  text-align: center;
  background-color: white;
  overflow: hidden;
   height: 65vh;
  overflow: hidden;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  border: 2px dotted #f52851;
}
.owl-three .item h2 {
  font-family: cursive;
  color: #f52851;
  font-size: 3rem;
  line-height: 6rem;

  font-weight: 700;
}
.owl-three .item h3 {
  font-weight: 900;
  line-height: 4rem;

}
.owl-three .item p {
  font-weight: 300;
  height: 1rem;
  font-size: 2rem;
 
}
.location-description {
  margin-bottom:10rem;
}

.explore-hospital
{
  color: #f52851;
  text-decoration: underline;
}
.explore
{
  text-align: center;
}
.explore span
{
  font-size: 2rem;
  cursor: pointer;
}


/* banner styling */
.call-to-action
{
  height: 50vh;
  background: url("/images/call\ to\ action.jpg");
  margin-top: 3rem;
}

.contact-health
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  color: #fff;
  text-align: center;
}

.contact-health .banner-text h3
{
  font-size: 3rem;
  line-height: 5rem;

}
.contact-health .banner-text h2
{
  font-size: 4rem;
  font-weight:700 ;
  line-height: 8rem;
 
}

.cta
{
  display: flex;
  /* justify-content: space-around; */
  gap: 10rem;
 }
.cta button
{
/* padding: 4rem; */
color:#fff;
font-size: 3rem;
background-color: #107DF7;
border: none;
outline: none;
cursor: pointer;
padding: 1rem;
transition: all 0.3s ease;
font-weight: 800;

}
.cta button:hover{
  color: black;
  background-color: white;
}
.cta a
{
  text-decoration: none;
  font-size: 4rem;
  display: inline-block;
  color: #fff;
  transition: all 0.3s  ease-in-out;
}

.cta a:hover
{
  color: #f52851;
  
}