/* faq styling */
.accordian {
   padding: 4px 16px;
  color: rgb(7, 7, 7);
  width: 60%;
  cursor: pointer;
  margin-bottom: 16px;
  border-top: 2px solid rgba(0, 0, 0, 0.315); 
  border-bottom: 2px solid rgba(19, 1, 1, 0.303); 
  margin-top: 2rem;
  padding: 2rem 1rem;

}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;

}

.icon {
  margin-right: 16px;
  color: #049ff6;

 
}
.answer {
  color: rgb(13, 13, 13);
  display: none;
  overflow: hidden;
  font-size: 2rem;
  border-left: 2px solid #049ff6;
  padding: 1rem;


}

.answer.active-faq {
  display: block;
 
}
#patient-stories
{

    width: 60%;
    height: 80vh;
}














