/* styling the body content */
.section-wrapper {
  min-height: 55vh;
  display: flex;
  justify-content: start;
  color: #000;
  font-size: 5rem;
  flex-direction: column;
  margin-top: 4rem;
}
.body-section {
  height: 60vh;
  margin-top: 3rem;
}
#treatment-overview {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px dotted #049ff6;
}
/* .overview-content {
  width: 60%;
} */
.overview-description {
  margin-top: 2rem;
  white-space: wrap;
  font-size: 1.5rem;
  font-weight: 300;
}

/* eligibility section
 */
#eligibility {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
 }
.eligibility-content {
   border-bottom: 2px d otted #049ff6;
   }
.enquiry-form {
    
  width: 60%;
   margin-bottom: 1rem;
  border-radius: 10px;
  
}

form {
  font-size: 3rem;
  border-radius: 10px;
  height: 100%;
  margin: 1rem;
  padding: 2rem;
  overflow: hidden;
  border: 1px solid #049ff6;

 }
 .fixed-form
{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    border-radius: 10px;
    height: 70%;
    margin: 1rem;
    padding: 2rem;
    overflow: hidden;
    width: 30%;
 }

form h2 {
  color: #049ff6;
  font-family: cursive;
}
.paragraph {
  font-weight: 500;
  font-size: 2rem;
}
form .btn {
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 2rem;
  border-radius: 5px;
}
#preparation {
  height: 48vh;
}

.preparation-content {
  width: 60%;
  border-bottom: 2px dotted #049ff6;
}
#treatment {
  height: 50vh;
}
.treatment-content {
  width: 60%;
  border-bottom: 2px dotted #049ff6;
}

