@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
header
{
    display: flex;
    justify-content: space-between;
    
}

.main-logo , .contact-logo
{
    width: 15vw;
    height: 15vh;
}

.contact-logo
{
    width: 20vw;

}
.contact-us
{
    display: flex;
    gap: 4rem;
}

.header-contact
{
    /* margin: 3rem; */
    /* padding: 1rem;
    margin-right: 10px;  */
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    


}

/*utility class */
.container
{
    max-width: 125rem; 
    margin-inline: auto;
    overflow: hidden;
}
.header-contact h3
{
    font-size: 1rem;
    font-weight: 500;
    display: inline;
}
.header-contact h4
{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 700;
 }

.header-contact i
{
    font-size: 2rem;
}

/* nav styling */
nav
{
    background: #049ff6;
    padding: 10px 40px 10px 70px;
    border:1px solid red;
    border-left: none;
    border-radius: none;


}
nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;


}
nav ul li a
{
    text-decoration: none;
    font-size: 1rem;
    color: #e0effd;
}

nav ul .nav-items
{
    flex: 1;
    display: flex;
    gap: 1rem;
    text-decoration: none;

}

.search-icon
{
  }